



body,h1, h2, h3 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://www.w3schools.com/w3images/forestbridge.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
img {
    width: 100%;
    height: auto;
}
video {
    width: 100%;
    height: auto;
}